@import "function";

// ========== Hero Header Section ==========
.hero-header {
  height: 100vh;
  width: 100vw;

  //   Hero Slider
  .hero-slider {
    background-color: $theme-color;
    position: relative;
    overflow: hidden;
    height: 100%;

    .slider {
      position: absolute;
      width: 70%;
      height: 100%;
      right: 0;
      opacity: 0;
      transition: opacity ease-in-out 1s;

      .slider-content {
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-35%, -50%);
        padding: 1rem 2rem;
        color: $primary-textcolor;
        opacity: 0;
        transition: opacity ease-in-out 0.25s;

        .header-slider {
          font-size: 6rem;
          font-family: "Montserrat-Bold", sans-serif;
          text-transform: uppercase;
          line-height: 80px;
        }

        .content-slider {
          font-size: 3rem;
          text-transform: capitalize;
          font-family: "PlayfairDisplay-Italic", sans-serif;
        }
      }
    }

    .active {
      opacity: 1;

      .slider-content {
        opacity: 1;
      }
    }

    // Add Background Images To the Slides
    #slider-01 {
      @include backgroundImageSlider("../images/slider-03.jpg");
    }
    #slider-02 {
      @include backgroundImageSlider("../images/slider-01.jpg");
    }
    #slider-03 {
      @include backgroundImageSlider("../images/slider-02.jpg");
    }
  }

  //   Slider Navigation Buttons
  .slider-navigation {
    position: absolute;
    width: 30%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    button {
      background-color: transparent;
      border: none;
      margin: 0 3rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: $primary-textcolor;
    }
  }
}

// Responsive Settings
@include normalScreens {
  .hero-header {
    //   Hero Slider
    .hero-slider {
      .slider {
        width: 60%;

        .slider-content {
          left: -20%;

          .header-slider {
            font-size: 5rem;
            line-height: 50px;
          }

          .content-slider {
            font-size: 2rem;
          }
        }
      }
    }

    //   Slider Navigation Buttons
    .slider-navigation {
      width: 40%;
      padding: 1.5rem;

      button {
        margin: 0 2rem;
        font-size: 1.2rem;
      }
    }
  }
}

@include midScreenc {
  .hero-header {
    height: 100vh;
    width: 100vw;

    //   Hero Slider
    .hero-slider {
      background-color: $theme-color;
      position: relative;
      overflow: hidden;
      height: 100%;

      .slider {
        width: 100%;
        height: 70%;
        top: 0;
        right: 0;

        .slider-content {
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          .header-slider {
            font-size: 5rem;
            line-height: 50px;
          }

          .content-slider {
            font-size: 2.5rem;
          }
        }
      }
    }

    //   Slider Navigation Buttons
    .slider-navigation {
      width: 100%;
      padding: 1.5rem;

      button {
        margin: 0 2.5rem;
        font-size: 1.2rem;
      }
    }
  }
}

@include smallScreens {
  .hero-header {
    height: 100vh;
    width: 100vw;

    //   Hero Slider
    .hero-slider {
      background-color: $theme-color;
      position: relative;
      overflow: hidden;
      height: 100%;

      .slider {
        width: 100%;
        height: 70%;
        top: 0;
        right: 0;

        .slider-content {
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          .header-slider {
            font-size: 3rem;
            line-height: 30px;
          }

          .content-slider {
            font-size: 1.5rem;
          }
        }
      }
    }

    //   Slider Navigation Buttons
    .slider-navigation {
      width: 100%;
      padding: 1rem;

      button {
        margin: 0 1.5rem;
        font-size: 1rem;
      }
    }
  }
}
// ========== Hero Header Section ==========

// ========== About Us Section ==========
.about-us {
  .about-img-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      border: 6px solid $theme-color;
      width: 90%;
      height: 95%;
      position: absolute;
      top: -5%;
      right: 0%;
      z-index: -1;
    }

    img {
      width: 90%;
      height: auto;
    }
  }
}

//Responsive Settings
@include midScreenc {
  .about-us {
    .about-img-content {
      align-items: flex-start;

      &::before {
        right: 5%;
      }
    }
  }
}

@include smallScreens {
  .about-us {
    .about-img-content {
      align-items: flex-start;

      &::before {
        right: 3%;
      }
    }
  }
}
// ========== About Us Section ==========

// ========== Our Client Section ==========
.our-clients {
  background-color: $light-backgrouncolor;
  text-align: center;

  .section-sub-header {
    margin-bottom: 3rem;
  }

  .client-item-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .client-items {
      padding: 1rem;

      .item-icon {
        font-size: 3rem;
        color: $theme-color;
        margin-bottom: 1.5rem;
      }

      .item-number {
        font-size: 2.4rem;
        font-family: "Montserrat-Bold", sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
      }

      .item-description {
        font-family: "Montserrat-Regular", sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.2rem;
      }
    }
  }
}

@include normalScreens {
  .our-clients {
    .section-sub-header {
      margin-bottom: 2rem;
    }

    .client-item-grid {
      .client-items {
        .item-icon {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        .item-number {
          font-size: 1.8rem;
          letter-spacing: 4px;
        }

        .item-description {
          letter-spacing: 2px;
          font-size: 1rem;
        }
      }
    }
  }
}

@include midScreenc {
  .our-clients {
    .client-item-grid {
      flex-wrap: wrap;
      justify-content: space-evenly;

      .client-items {
        padding: 1.5rem;

        .item-icon {
          font-size: 2.4rem;
          color: $theme-color;
          margin-bottom: 1.5rem;
        }

        .item-number {
          font-size: 1.5rem;
          letter-spacing: 3px;
        }

        .item-description {
          font-size: 1rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@include smallScreens {
  .our-clients {
    .section-sub-header {
      margin-bottom: 1rem;
    }

    .client-item-grid {
      flex-wrap: wrap;
      justify-content: center;

      .client-items {
        .item-icon {
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }

        .item-number {
          font-size: 1.5rem;
          letter-spacing: 3px;
        }

        .item-description {
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
  }
}
// ========== Our Client Section ==========

// ========== Our Services Section ==========
.serives-section {
  position: relative;

  .serives-text-content {
    text-align: left;

    .section-content {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 4rem;
    }
  }

  .serives-img-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include smallScreens {
  .serives-section {
    .serives-text-content {
      p {
        margin-bottom: 2rem;
      }
    }
  }
}
// ========== Our Services Section ==========

// ========== Photo Gallery Section ==========
.photo-gallery {
  background-color: $theme-color;

  .gallery-slider-container {
    .gslider-item {
      .gslider-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 2rem;

        .gslider-header-txt {
          font-family: "Montserrat-Regular", sans-serif;
          text-transform: uppercase;
          font-size: 1.5rem;
          line-height: 1.6;
          margin-right: 1rem;
        }

        .gslider-header-line {
          width: 200px;
          height: 2px;
          background-color: $primary-textcolor;
        }
      }

      .gslider-img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }

  .gallery-right {
    position: relative;

    .gallery-right-overlayer {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($primary-textcolor, 0.5);
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 1s opacity ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .btn {
        margin-bottom: 2rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

@include normalScreens {
  .photo-gallery {
    .gallery-slider-container {
      .gslider-item {
        .gslider-header {
          margin-top: 0.75rem;
          margin-bottom: 1.5rem;

          .gslider-header-txt {
            font-size: 1.2rem;
            line-height: 1.4;
          }

          .gslider-header-line {
            width: 150px;
          }
        }
      }
    }
  }
}

@include midScreenc {
  .photo-gallery {
    .gallery-slider-container {
      .gslider-item {
        .gslider-header {
          margin-top: 0.75rem;
          margin-bottom: 1.5rem;

          .gslider-header-txt {
            font-size: 1.2rem;
          }

          .gslider-header-line {
            width: 150px;
          }
        }
      }
    }

    .gallery-right {
      .gallery-right-overlayer {
        opacity: 1;

        .btn {
          margin-bottom: 2rem;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@include smallScreens {
  .photo-gallery {
    .gallery-slider-container {
      .gslider-item {
        border-bottom: 2px solid $primary-textcolor;
        padding-bottom: 1rem;

        .gslider-header {
          margin-top: 0.75rem;
          margin-bottom: 1rem;

          .gslider-header-txt {
            font-size: 1rem;
            line-height: 1.2;
            margin-right: 0.75rem;
          }

          .gslider-header-line {
            display: none;
          }
        }

        .gslider-img-container {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 0.5rem;
        }
      }
    }

    .gallery-right {
      .gallery-right-overlayer {
        opacity: 1;

        .btn {
          margin-bottom: 1rem;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
// ========== Photo Gallery Section ==========

// ========== Pricing Table Section Section ==========
.pricing-section {
  .pricing-section-header {
    margin-bottom: 4rem;
  }

  .pricing-table-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    align-items: flex-end;
    justify-content: center;

    .pricing-table {
      padding: 2rem;
      border: 5px solid $primary-textcolor;
      text-align: center;

      &-active {
        border-color: $theme-color;
      }

      .pricing-table-header {
        padding-bottom: 2rem;

        .section-content {
          font-size: 2rem;
          text-transform: capitalize;
          line-height: 3rem;
        }

        h3 {
          font-family: "Montserrat-Regular", sans-serif;
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        .price-tag {
          font-family: "Montserrat-Bold", sans-serif;
          font-size: 2.4rem;
          line-height: 4rem;
          text-transform: capitalize;
        }
      }

      .pricing-table-body {
        padding: 2rem 0;
        border-top: 2px solid $primary-textcolorlighter;
        border-bottom: 2px solid $primary-textcolorlighter;

        .table-body-item {
          font-family: "Montserrat-Regular", sans-serif;
          font-size: 1.2rem;
          text-transform: uppercase;
          color: $primary-textcolorlight;
          padding: 0.5rem 0;
        }
      }

      .pricing-table-footer {
        padding-top: 2rem;
      }
    }
  }
}

@include normalScreens {
  .pricing-section {
    .pricing-section-header {
      margin-bottom: 3rem;
    }

    .pricing-table-grid {
      grid-gap: 3rem;

      .pricing-table {
        padding: 1.75rem;
        .pricing-table-header {
          padding-bottom: 1.75rem;

          .section-content {
            font-size: 1.75rem;
            line-height: 2.75rem;
          }
          .price-tag {
            font-size: 2.2rem;
            line-height: 3.75rem;
          }
        }

        .pricing-table-body {
          padding: 1.75rem 0;

          .table-body-item {
            font-size: 1.1rem;
          }
        }

        .pricing-table-footer {
          padding-top: 1.75rem;
        }
      }
    }
  }
}

@include midScreenc {
  .pricing-section {
    .pricing-section-header {
      margin-bottom: 2.75rem;
    }

    .pricing-table-grid {
      grid-template-columns: 1fr;
      grid-gap: 2.5rem;

      .pricing-table {
        padding: 1.5rem;

        .pricing-table-header {
          padding-bottom: 1.5rem;

          .section-content {
            font-size: 1.5rem;
            line-height: 2.5rem;
          }

          h3 {
            font-size: 1.1rem;
          }

          .price-tag {
            font-size: 2rem;
            line-height: 3rem;
          }
        }

        .pricing-table-body {
          padding: 1.5rem 0;

          .table-body-item {
            font-size: 1.1rem;
          }
        }

        .pricing-table-footer {
          padding-top: 1.5rem;
        }
      }
    }
  }
}

@include smallScreens {
  .pricing-section {
    .pricing-section-header {
      margin-bottom: 2.5rem;
    }

    .pricing-table-grid {
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      .pricing-table {
        padding: 1.25rem;

        .pricing-table-header {
          padding-bottom: 1.25rem;

          .section-content {
            font-size: 1.25rem;
            line-height: 2rem;
          }

          h3 {
            font-size: 1rem;
          }

          .price-tag {
            font-size: 1.75rem;
            line-height: 2.5rem;
          }
        }

        .pricing-table-body {
          padding: 1rem 0;

          .table-body-item {
            font-size: 0.9rem;
          }
        }

        .pricing-table-footer {
          padding-top: 1rem;
        }
      }
    }
  }
}
// ========== Pricing Table Section Section ==========

// ========== Blog Section ==========
.blog-section {
  background-color: $light-backgrouncolor;
}
// ========== Blog Section ==========
