// ========== Header Navigation ==========
.header-navigation {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 2rem;

  .menu {
    .menu-item {
      padding: 0 1rem;
    }
  }
}

.sticky {
  background-color: $theme-lightcolor;
  padding: 1rem 2rem;
}

//Responsive Settings
@include normalScreens {
  .header-navigation {
    padding: 1.5rem;

    .menu {
      .menu-item {
        padding: 0 0.8rem;
      }
    }
  }
}

@include midScreenc {
  .header-navigation {
    padding: 1.5rem;
  }

  .sticky {
    background-color: $theme-lightcolor;
    padding: 0.8rem 1.5rem;
  }
}

@include smallScreens {
  .header-navigation {
    padding: 1rem;

    .menu {
      .menu-item {
        padding: 0;
      }
    }
  }

  .sticky {
    background-color: $theme-lightcolor;
    padding: 1rem;
  }
}
// ========== Header Navigation ==========

// ========== OverLayer Navigation ==========
.overlayer-navigation {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background-color: $theme-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  transition: all ease-in-out 0.5s;

  .close-moblie-menu {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .menu-item {
      padding: 2rem 1rem;
      font-size: 1.5rem;
    }
  }
}

@include normalScreens {
  .overlayer-navigation {
    .close-moblie-menu {
      top: 5%;
      right: 5%;
    }

    .menu {
      .menu-item {
        padding: 1.5rem 0.8rem;
        font-size: 1.2rem;
      }
    }
  }
}

@include midScreenc {
  .overlayer-navigation {
    .close-moblie-menu {
      top: 5%;
      right: 8%;
    }

    .menu {
      .menu-item {
        padding: 2rem 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

@include smallScreens {
  .overlayer-navigation {
    .close-moblie-menu {
      position: absolute;
      top: 5%;
      right: 8%;
    }

    .menu {
      .menu-item {
        padding: 1rem 0.5rem;
        font-size: 1rem;
      }
    }
  }
}
// ========== OverLayer Navigation ==========

// ========== Font Styles ==========
.section-top-header {
  font-size: 3rem;
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: capitalize;

  &-dark {
    color: $primary-textcolor;
  }
  &-theme {
    color: $theme-color;
  }
}

.section-bottom-header {
  font-size: 4rem;
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;

  &-theme {
    color: $theme-color;
  }
  &-dark {
    color: $primary-textcolor;
  }
  &-light {
    color: $normal-backgrouncolor;
  }
}

.section-content {
  font-size: 1.6rem;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: capitalize;

  &-italic {
    font-family: "PlayfairDisplay-Italic", sans-serif;
  }
  &-blodItalic {
    font-family: "PlayfairDisplay-BoldItalic", sans-serif;
  }
  &-light {
    color: $normal-backgrouncolor;
  }
}

.section-sub-header {
  font-size: 2.5rem;
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;

  .section-content {
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
}

//Responsive Settings
@include normalScreens {
  .section-top-header {
    font-size: 2rem;
  }

  .section-bottom-header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .section-content {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .section-sub-header {
    font-size: 2rem;
    letter-spacing: 4px;

    .section-content {
      letter-spacing: 4px;
      font-size: 2rem;
    }
  }
}

@include midScreenc {
  .section-top-header {
    font-size: 2.4rem;
  }

  .section-bottom-header {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  .section-content {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .section-sub-header {
    font-size: 2rem;
    letter-spacing: 4px;

    .section-content {
      letter-spacing: 4px;
      font-size: 2rem;
    }
  }
}

@include smallScreens {
  .section-top-header {
    font-size: 1.5rem;
  }

  .section-bottom-header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .section-content {
    font-size: 1rem;
    line-height: 1.4;
  }

  .section-sub-header {
    font-size: 1.6rem;
    letter-spacing: 3px;

    .section-content {
      letter-spacing: 3px;
      font-size: 1.6rem;
    }
  }
}
// ========== Font Styles ==========

// ========== Btn Styles ==========
a.btn:hover {
  color: $light-backgrouncolor;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 50px;

  &-primary {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: $primary-textcolor;
    color: $light-backgrouncolor;
  }

  &-secondary {
    font-size: 1rem;
    font-family: "Montserrat-Regular", sans-serif;
    display: inline-block;
    text-transform: uppercase;

    &-white {
      background-color: $normal-backgrouncolor;
      color: $primary-textcolor;
    }

    &-dark {
      background-color: $primary-textcolor;
      color:  $normal-backgrouncolor;
    }
    
    &-theme {
      color:  $normal-backgrouncolor;
      background-color: $theme-color;
    }
  }

  &-blog {
    padding: 1.2rem 0.2rem;
    text-transform: uppercase;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    display: inline-block;

    i {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }

  &-form {
    border: none;
    border-radius: 0;
    float: right;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: $normal-backgrouncolor;
    background-color: $theme-color;
    cursor: pointer;
  }
}

.btn.btn-secondary.btn-secondary-white:hover {
  color: $primary-textcolor;
}
// ========== Btn Styles ==========


// ========== Blog Section Letter Styles Styles ==========
.blog-header {
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 1.5rem 0;
  text-transform: capitalize;
}

.blog-intcontent {
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $primary-textcolorlighter;
}

@include smallScreens {
  .blog-header {
    font-size: 1.2rem;
    padding: 1.2rem 0;
  }

  .blog-intcontent {
    font-size: 0.9;
  }
}
// ========== Blog Section Letter Styles Styles ==========
